body{
    display: flex;
    text-align: center;
    background-color: dimgray;
}

#app{
    margin: auto;
}

.box{
    border-radius: 10px;
    margin-bottom: 10px;
}

.box:nth-child(odd){
    background-color: lightgreen;
}

.box:nth-child(even){
    background-color: lightskyblue;
}